{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Ensembl id</th>
        <th>Gene Symbol</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cr%}
        <tr>
          <td> {{item.ensembl_id}} </td>
          <td> {{item.gene_symbol}} </td>
        </tr>
      {% endfor%}
    </tbody>
</table>
</div>
{% endblock%}
